@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto Serif');
 body {
    margin: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
    font-family: 'Noto Serif', sans-serif;
    background-color: rgb(97, 218, 177);
}

legend {
    font-family: 'Lora', sans-serif;

    background-color: #5c91f3;
    color: #fff;
    padding: 3px 6px;
    margin-left: 160px;
    font-size: 30px;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #eeeeee;
    border: solid 2px blue;  
    float: center;
    width: 50%;
    padding: 28px 35px;
}

#label1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#fname {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#label2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#numCalories {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#getResult {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 2px solid #2196F3;
    background-color: white;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    color: dodgerblue;
    width: 150px;
    height: 60px;
    margin-left: 30px;
  }

  #getResult:hover {
    background: #2196F3;
    color: white;
  }

  input[type=text] {
    border: 2px solid rgb(8, 42, 238);
    width: 200px;
    height: 20px;
    margin: 5px 0px;
    border-radius: 4px;
}

#totalCal {
    border: 2px solid rgb(61, 240, 7);
    width: 200px;
    height: 25px;
    margin: 5px 0px;
    border-radius: 4px;
}

table, th, td {
    border: 1px solid rgb(8, 42, 238);
    text-align: center;
  }

#tableResult {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border-collapse: collapse;
    font-size: 12px;
}
